*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body{
  padding: .5rem;
  border-image-source: url('pictures/edge-design.png');
  border-image-width: 4rem 10rem;
  border-image-slice: 20%;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  font-family: '../../font/Ethna.otf';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > #root{
  height: 100%;
}

#root > .app{
  height: inherit;
}
  
code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
  